---
layout: default
title: Home
---

<!-- Home Jumbotron
================================================== -->    
<section class="intro full-width">
    <div class="wrapintro">
        <h1>AC0/RD Software -- Community</h1>
        <h2 class="lead">"AC0/RD is a community of open-source developers creating software & media that innovate on what's available. To do this, we work with many companies and developers around the world, by contributing to the development of their software and participating in their competitions </h2>    
        <a href="http://acord.software" class="btn">Join us</a>
    </div>
</section>


<!-- Featured
================================================== -->
<section class="featured-posts">

    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section>

<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}    

<section class="recent-posts row">

    <div class="col-sm-4">
        {% include sidebar.html %}
    </div>

    <div class="col-sm-8">

        <div class="section-title">
            <h2><span>All Stories</span></h2>    
        </div>

        <div class="masonrygrid row listrecent">

            {% for post in paginator.posts %}

            {% unless post.featured == true %}

                {% include postbox.html %}

            {% endunless %}

            {% endfor %}

        </div> 

        <!-- Pagination -->
        <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div>

    </div>

</section>
